<%- include("../partials/header.ejs") %>
<body id="signup-page">
    <div class="auth-div">
        <h1>Sign up</h1>
        <small><%= message %></small>
        <form action="/auth/signup" method="POST">
            Username: <input type="text" name="username" autocomplete="off">
            Password: <input type="password" name="password">
            Display Name: <input type="text" name="displayName" autocomplete="off" maxlength="12"><br>
            <button type="submit">Sign up</button>
        </form>
        <div>
            <a href="/auth/login">Already have an account? Click here to log in</a>
            <a href="/posts">Browse as a guest</a>
        </div>
    </div>
</body>
</html>