<%- include("../partials/header.ejs") %>
    <div class="auth-div">
        <h1>Sign up</h1>
        <small><%= message %></small>
        <form action="/auth/signup" method="POST">
            Username: <input type="text" name="username" autocomplete="off">
            Password: <input type="password" name="password">
            Display Name: <input type="text" name="displayName" autocomplete="off"><br>
            <button type="submit">Sign up</button>
        </form>
        <a href="/auth/login">Already have an account? Click here to log in</a>
    </div>
<%- include("../partials/footer.ejs") %>