<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">
<div class="nav">
    <div class="nav-header">
        <div class="nav-left">
            <a href="/" class="nav-link">HOME</a>
        </div>
        <div class="nav-center">
            <a class="nav-link" href="/posts/new">POST YOUR BROKEN CODE</a>
        </div>
        <div class="nav-right">
            <% if(user.username) { %>
                <a href="/users/<%= user.userID %>" class="nav-link">MY PROFILE</a>
                <a href="/auth/logout" class="nav-link">LOG OUT</a>
            <% } else { %>
                <a href="/auth/signup" class="nav-link">SIGN UP</a>
                <a href="/auth/login" class="nav-link">LOG IN</a>
            <% } %>
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
