<%- include("partials/header.ejs") %>
    <div id="start">
        <button>Start Fixing</button>
    </div>
    <script>
        const button = document.querySelector("button");
        button.addEventListener("click", () => {
            location.href = "/auth/login"
        })
    </script>
<%- include("partials/footer.ejs") %>