<%- include("partials/header.ejs") %>
<body id="home-title">
    <div id="home-title-div">
        <h1>FIX YOUR CODE</h1>
    </div>
    <button>Start Fixing</button>
    <script>
        const button = document.querySelector("button");
        button.addEventListener("click", () => {
            location.href = "/posts"
        })
    </script>
</body>
</html>