<%- include("partials/header.ejs") %>
<body>
    <header id="top-screen">
        <div class="home-title">
            <div class="home-title-div">
                <h1>FIX YOUR CODE</h1>
                <button>Start Fixing</button>
            </div>
        </div>
    </header>
    <script>
        const button = document.querySelector("button");
        button.addEventListener("click", () => {
            location.href = "/posts"
        })
    </script>
</body>
</html>