*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Kurale', serif;
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

#home-title, #login-page, #signup-page {
    background-image: url("/css/images/homepageImg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#home-title-div {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.473);
}

#home-title h1 {
    color: whitesmoke;
    font-size: 8rem;
    font-weight: 100;
}

#home-title button {
    font-family: 'Kurale', serif;
    height: 4rem;
    width: 100vw;
    border: 0.15rem solid white;
    border-left: 0;
    border-right: 0;
    background-color: rgb(167, 0, 0);
    color: white;
    font-size: 2.5rem;
    transition-duration: 0.25s;
}

#home-title button:hover {
    cursor: pointer;
}

.auth-div {
    height: 30rem;
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.auth-div form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 55%;
    text-align: center;
}

.auth-div form button {
    height: 4rem;
    border: 0;
    border-radius: 10px;
    background-color: white;
}

.auth-div a {
    color: white;
}

.auth-div small {
    margin: 0 4rem;
    text-align: center;
    color: rgba(255, 0, 0, 0.897);
}

#post-page-title {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("/css/images/homepageImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title-cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.473);
    /* filter: blur(3px); */
}

#post-page-title h1 {
    font-family: 'Kurale', serif;
    font-size: 10rem;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-align: center;
    position: relative;
    z-index: 1;
    font-weight: 400;
}

#down-div {
    width: 100vw;
    height: 5rem;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

#down-arrow {
    position: absolute;
    bottom: 3rem;
    z-index: 2;
    font-size: 5rem;
    color: white;
    cursor: pointer;
    animation: bounce 0.3s infinite alternate-reverse;
}

@keyframes bounce {
    from {
        bottom: 3rem;
    }
    to {
        bottom: 3.5rem;
    }
}

.move {
    margin-top: 5rem;
}

#all-posts {
    background-image: url("/css/images/textured1.jpg");
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#all-posts h1:nth-child(1) {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#posts, #post-empty {
    z-index: 2;
    margin-top: 1rem;
}

.posts {
    height: 5rem;
    width: 70rem;
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    border: 0.1rem solid black;
}

.title {
    width: 63%;
    font-size: 2.3rem;
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
}
.title a {
    text-decoration: none;
    color: black;
    width: 100%;
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
}

.description {
    width: 37%;
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.description div:nth-child(1) {
    width: 50%;
}

.description div:nth-child(2) {
    width: 25%;
}

.description div:nth-child(3) {
    width: 25%;
}

#post-show-page, #post-edit-page, #post-new-page, #user-show-page {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/css/images/textured1.jpg");
    background-size: cover;
    background-position: center center;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
}

#container {
    min-height:40rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    margin: 7rem 0rem 2rem 0;
}

#post-container {
    width: 70rem;
    display: flex;
    flex-direction: column;
}

#post-header {
    margin: 2rem;
    border-bottom: 0.1rem solid black;
}

#creator-info {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

#creator-info h1 {
    width: 80%;
    font-size: 1.5rem;
}

#language {
    font-weight: bold;
}

#post-body, #new-post-body, #edit-post-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2rem 2rem 2rem;
}

#post-body p {
    padding: 0.3rem;
}

#post-container pre {
    border: 0.05rem solid black;
    padding: 1rem;
    background-color: whitesmoke;
    min-height: 9rem;
}

#comments-container {
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-input {
    width: 50rem;
}

#comment-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.comments-div {
    width: 50rem;
    margin: 0 2rem 2rem 2rem;
    background-color: whitesmoke;
}

.comments-div > * {
    padding: 0 1rem;
} 

.comments-div div {
    display: flex;
    justify-content: space-between;
}

.comments-div pre {
    font-family: 'Kurale', serif;
}

.top-comment {
    border: 0.1rem solid red;
}

#comment-input textarea {
    width: 100%;
    height: 5rem;
    resize: none;
    font-size: 1.34rem;
}

#comment-button {
    border: 1px solid black;
    color: white;
    background-color: rgb(39, 78, 253);
    border-radius: 0.3rem;
    height: 2.5rem;
    width: 6.5rem;
    margin-top: 0.5rem;
}

#delete-comment {
    height: 1rem;
    margin: 0 0.5rem;
}

#no-comments {
    margin-bottom: 1rem;
}

#like-form {
    display: flex;
}

#like-button {
    background-color: inherit;
    border: 0;
    border-radius: 2rem 2rem 3rem 3rem;
    margin-right: 0.5rem;
    width: 1rem;
    display: flex;
    cursor: pointer;
}

#like-button:focus {
    outline: black;
    box-shadow: none;
}

#like-button img {
    height: 1rem;
    padding: 0;
}

#post-new-page {
    display: flex;
    flex-direction: column;
}

#post-new-page #container {
    margin-top: 0rem;
}

#post-new-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-new-page h1:nth-child(1), #user-show-page h1:nth-child(1) {
    font-size: 4.6rem;
}

#post-new-page #edit-title {
    font-size: 2rem;
    width: 100%;
}

#language-select, #new-description, #new-body, #edit-description, #edit-body {
    margin: 0.5rem 0 0.5rem 0;
}

#new-button {
    border: 0.1rem solid black;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(47, 96, 255)
}

#post-new-page small {
    margin-top: 2rem;
    color: red;
}

#edit-title {
    width: 85%;
    border: 0;
    border-bottom: 0.05rem solid black;
    font-size: 2rem;
}


#new-post-body, #edit-post-body {
    display: flex;
    flex-direction: column;
}

#new-body, #edit-post-body textarea {
    min-height: 10rem;
    resize: none;
}

#edit-button:hover, #delete-button:hover, #delete-comment:hover {
    color: red;
}


#post-edit-page #comment-input textarea, #post-edit-page #delete-button, #post-edit-page #like-button, #post-edit-page #comment-input button {
    cursor: not-allowed;
}

#user-show-page #container{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40rem;
    width: 50rem;
    margin-bottom: 2rem;
}

#options {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#options p {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.25s;
}

/* #options p:hover {
    background-color: rgba(0, 0, 0, 0.151);
} */

#user-posts, #user-activities {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-top: 2rem;
}

#options p:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.151);
}

#user-activities {
    display: none;
}

#user-posts h3, #user-activities h3 {
    margin: 1rem;
}

#user-posts li, #user-activities li {
    border: 0.05rem solid black;
    margin: 1rem 0;
    list-style: none;
    background-color: rgb(252, 245, 245);
}

#user-posts li {
    display: flex;
}

#user-posts a {
    font-size: 1.5rem;
    width: 60%;
    text-align: left;
    padding: 0 0.5rem;
    text-decoration: none;
}

#user-posts #description {
    display: flex;
    align-items: center;
    width: 40%;
}

#user-posts small:nth-child(1) {
    font-size: 1.3rem;
    width: 50%;
}

#user-posts small:nth-child(2) {
    font-size: 1.3rem;
    width: 50%;
    padding-right: 0.5rem;
}

#user-activities h4 {
    display: inline-block;
    margin: 1rem;
}

#display-name {
    font-weight: bold;
}

#user-activities ul small {
    display: block;
    text-align: left;
    margin: 0 1rem 1rem 1rem;
    word-wrap: break-word;
}


.nav {
    height: 5rem;
    width: 100%;
    margin: 0;
    background-color: midnightblue;
    z-index: 3;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.nav-left {
    width: 33.333%;
    text-align: left;
    padding: 15px;
}

.nav-center {
    width: 33.333%;
    text-align: center;
    padding: 15px;
}

.nav-right {
    width: 33.333%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 450;
    color: whitesmoke;
}

.nav-link:hover {
    color: red;
    cursor: pointer;
}


/* @media (max-width: 600px) {
    html {
        font-size: 50%;
    }
} */