*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Kurale', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

#home-title, #login-page, #signup-page {
    background-image: url("/css/images/homepageImg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#home-title-div {
    width: 100vw;
    height: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.637);
    margin: 5rem;
}

#home-title h1 {
    color: white;
    font-size: 7rem;
    font-weight: 100;
}

#home-title button {
    font-family: 'Kurale', serif;
    height: 4rem;
    width: 15rem;
    border: 0.15rem solid white;
    background-color: rgb(167, 0, 0);
    color: white;
    font-size: 2.5rem;
    transition-duration: 0.25s;
}

#home-title button:hover {
    height: 4rem;
    width: 100%;
    font-size: 2.5rem;
}

.auth-div {
    height: 30rem;
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.auth-div form button {
    height: 4rem;
    border: 0;
    border-radius: 10px;
    background-color: white;
}

.auth-div a {
    color: white;
}

.auth-div small {
    margin: 0 4rem;
    text-align: center;
    color: rgba(255, 0, 0, 0.897);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 55%;
    text-align: center;
}

#post-title {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("/css/images/homepageImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#post-title-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: inherit;
    filter: blur(3px);
}

#post-title h1 {
    font-family: 'Kurale', serif;
    font-size: 10rem;
    color: rgb(255, 246, 246);
    white-space: nowrap;
    text-align: center;
    position: relative;
    z-index: 1;
    font-weight: 400;
}

#all-posts {
    height: calc(100vh - 4.9759rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts, #post-empty {
    margin-top: 1rem;
}

.posts {
    width: calc(100vw - 30%);
    background-color: red;
    margin: 1rem;
}

#down-arrow {
    position: absolute;
    bottom: 3rem;
    z-index: 2;
    font-size: 5rem;
    color: white;
    cursor: pointer;
}

.nav {
    height: 5rem;
    width: 100%;
    margin: 0;
    background-color: antiquewhite;
    z-index: 1;
}

.nav-header {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.nav-left {
    width: 33.333%;
    text-align: left;
    padding: 15px;
}

.nav-center {
    width: 33.333%;
    text-align: center;
    padding: 15px;
}

.nav-right {
    width: 33.333%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 450;
    color: rgb(173, 0, 0);
}

.nav-link:hover {
    color: red;
    cursor: pointer;
}

.hamburger-menu {
    width: 40px;
    height: 25px;
    position: relative;
    z-index: 2;
    display: none;
}

.bar {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 6px;
    background-color: black;
    left: 0;
    transition: all .50s ease-in-out;
}

.bar:nth-child(1) {
    top: 0px;
}

.bar:nth-child(2) {
    top: 22.5%;
}

.bar:nth-child(3) {
    top: 45%;
}

.open > .bar {
    transition: all .50s ease-in-out;
    background-color: white;
}

.open > .bar:nth-child(1) {
    top: 45.5%;
    transform: rotate(135deg);
}

.open > .bar:nth-child(2) {
    left: -60px;
    opacity: 0;
}

.open > .bar:nth-child(3) {
    transform: rotate(-135deg);
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.678);
    left: -123rem;
    z-index: 1;
    top: 0;
    transition: all .60s ease-in-out;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.overlay-link {
    color: white;
    text-decoration: none;
}

.show {
    left: 0;
}

@media (max-width: 800px) {
    .hamburger-menu {
        display: block;
    }
    .nav-right .nav-link {
        display: none;
    }
}


/* @media (max-width: 600px) {
    html {
        font-size: 50%;
    }
} */