<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/posts">All Posts</a>
    <h1>All Users</h1>
    <a href="/auth/logout">Log out</a><br/>
    <% for(let i = 0; i < users.length; i++) { %>
        <div>
            <h3><a href="/users/<%= users[i]._id %>"><%= users[i].displayName %></a></h3>
        </div>
    <% } %>
</body>
</html>